<%= content_for :meta_title, "Yourdomain - Your Meta" %>

<div class="container page-min-height py-5">
  <div class="banner">
    <%= image_tag "havior-banner.jpg" %>
    <div class="banner-infos text-center w-100">
      <h1>Havior Company</h1>
      <p>Votre image et notre priorité</p>
    </div>
  </div>
</div>

